.card {
    background-color: #fcfbfe;
    border-color: #fcfbfe;
    border-radius: 20px;
    max-width: 90%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 5px;
    flex-wrap: wrap;
}
.div-image {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-container {
    position: relative;
    transition: transform 0.1s ease-in-out;
}

.skill-container:hover {
    transform: scale(1.5);
    z-index: 10;
}

.skill-name {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(161, 29, 13, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition:opacity 0.2s ease-in-out;
}

.skill-container:hover .skill-name {
    opacity: 1;
}

.skill-image {
    height: 60px;
    width: 60px;
    margin-left: 2px;
    margin-right: 2px;
}

.div-children {
    margin-bottom: 20px;
    justify-content: center;
}

.div-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-item {
    transition: transform 0.3s ease-in-out;
}

.social-item:hover {
    transform: scale(1.2);
}

.div-project {
    max-width: 300px;
    justify-content: center;
    align-content: center;
}

.div-image-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-project {
    align-content: center;
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.project-title-text {
    font-size: 30px;
    color: #a11d0d;
}

.project-content-text {
    font-size: 20px;
    color: #0c164f;
}

.tags {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.item-tag {
    display: flex;
    width: 40%;
    margin-right: 10px;
    background-color: #c9d3d3;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 10px;
}

.item-tag-name {
    color: #5643fd;
}

@media (min-width: 800px) {
    .card {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;   
        padding: 10px;
    }
    
    /*.card-children {
    
    }*/
    .skill-image {
        height: 70px;
        width: 70px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .div-project {
        max-width: 100%;
        width: fit-content;
        flex-wrap: wrap;
        overflow: auto;
    }

    .div-project-inside-link {
        max-width: 500px;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .div-project-inside-link:hover {
        transform: scale(1.03);
    }
    
}
