.card {
    background-color: #fcfbfe;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;   
    border-color: white;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 90%;
    border-radius: 20px;
    padding: 5px;
}

.card-children {
    display: flex;
    width: fit-content;
}

.div-children {
    display: flex;
    justify-content: center;
}

.div-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-image {
    height: 50px;
    width: 50px;
}