.navbar-mini-icon {
    width: 55px;
    height: 55px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #14213D;
    border-radius: 10px;
    margin-bottom: 30px;
    font-style: bold;
    font-size: 150%;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.select-theme {
    background-color: #14213D;
    color: #E5E5E5;
    border-color: #14213D;
    font-size: 90%;
    font-style: bold;
}

@media (min-width: 800px) {

    .navbar a {
        transition: all 0.3s ease;
    }
    .navbar a:hover {
        color: #a11d0d;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 35%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;   
        padding: 10px;
        font-size: 200%;
        gap: 50px;
        z-index: 1000;
    }

    .select-theme{
        box-shadow: none;
        border: none;
    }
}