.div-profile-card {
    flex-wrap: wrap;
    max-width: 90%;
    display: flex;
    background-color: #fcfbfe;
    font-size: small;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    margin-left: 4%;
    margin-right: auto;
}

.image-card {
    display: flex;
    width: fit-content;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 800px) {
    .div-profile-card {
        font-size:large;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;  
        border-color: #fcfbfe;
        margin-bottom: 10%;
        margin-top: 10%;
        width: 90%;
        align-items: center;
    }
    
    
    .profile-picture {
        width: 200px;
        height: 200px;
    }   
}